<!-- <ion-header>
  <ion-toolbar>
    <ion-title style="color:white">{{this.Nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-img src="{{this.Foto}}"></ion-img>
        <ion-card-header>
            <ion-card-title style="color:white">{{this.Nombre}}</ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
            <p style="color:white">{{this.Descripcion}}</p>
        </ion-card-content>
    </ion-card>
    <ion-img src="{{this.Combo1}}"></ion-img>
</ion-content> -->
